<!-- views/partials/nav.ejs -->
<nav>
  <div id="topPan">
    <div id="banner">
      <div id="banner_contents">
        <ul>
          <li><a href="/">Logout</a></li>
          <li class="dropdown">
            <a  class="dropbtn">Listes</a>
            <div class="dropdown-content">
              <a href="/navigationCV">CVs</a>
              <a href="/navigationJob">Offres</a>
            </div>
          </li>
          <li><a href="/cv">Add CV</a></li>
          <li><a href="/job">Add Jobs</a></li>
          <li class="dropdown">
            <a  class="dropbtn">Messagerie</a>
            <div class="dropdown-content">
              <a href="/boitemessage">Boite de messages</a>
              <a href="/messagerie">Ecrire un message</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>