  <!DOCTYPE html>
 <html>
   <% include ./partials/head %>
   <body>
      <div class="LOGO"></div>
    <div class="imagehome"></div>
      <div class="container">
      <div class="search">
      <div class="row">
         <div class="col-md-5 col-md-offset">
            <div class="form-section">
               <div class="row">
                  <form action="/login" class="form-horizontal" role="form" method="post">
                     <div class="col-md-12">
                        <div class="form-group">
                           <div class="serchtile">Trouvez un job dans votre région rapidement</div>
                           <div class="col-sm-12 col-xs-12 " align="center">
                              <a  class="btn btn-warning btn-block" href="\register">Register</a>
                           </div>
                           <div class="clearfix">&nbsp;</div>
                           <hr style="margin: 10px 0 10px 0;" />
                           <div class="col-sm-6 col-xs-6 " align="center">
                              <div class="required-field-block"><label>E-mail :</label>
                                 <div class="input-group">
                                    <input name="email" id="email" class="form-control" type="email" placeholder="E-mail">
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-6 col-xs-6 " align="center">
                              <div class="required-field-block"><label>Password :</label>
                                 <div class="input-group"> 
                                    <input name="password" id="password" class="form-control" type="password" placeholder="Password">
                                 </div>
                              </div>
                           </div>
                           <article><p><%= message %></p></article>
                           <div class="clearfix">&nbsp;</div>
                           <div class="bot-border">&nbsp;</div>
                           <div class="col-sm-12 col-xs-12 " align="center">
                              <button type="submit" class="btn btn-warning btn-block">Login</button>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
      </div>
      <div class="col-md-10 blogShort">
         <h1>Qui sommes nous ?</h1>
         <article>
            <p>
               Job Search est un site permettant de trouver un job ou d'employer quelqu'un facilement selon vos critères. 
            </p>
            <p>Nous proposons un large choix qui dépendra à la fois de vos compétences ainsi que du lieux désiré.</p>
            <p>Tout ce qu'il vous reste à faire est de vous connecter ou vous inscire pour profiter de ce service entièrement gratuit.</p>
            </p>
         </article>
      </div>
      </body>
      </html>
