  <!DOCTYPE html>
  <html>
  <head>
  <title>JobSearch</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
  <div id="topPan"> <a href="#"><img src="https://scontent-amt2-1.xx.fbcdn.net/v/t34.0-12/18217728_120332000456574610_1583941798_n.png?oh=86942c3cb3e13bf973e49f1b56ec16b1&oe=590A46AA" alt="" width="245" height="200" border="0" /></a>
    <ul>
      <li><a href="#">Home</a></li>
      <li class="dropdown">
        <a  class="dropbtn">Navigation</a>
        <div class="dropdown-content">
          <a href="#">Searcher</a>
          <a href="/navigationJob">Giver</a>
        </div>
      </li>
      <li><a href="/cv">Add CV</a></li>
      <li><a href="/job">Add Jobs</a></li>
    </ul>
    <h1>Job search<br />
      <span>Trouvez un job dans votre region rapidement</span> </h1>
  </div>
  <div id="mainmiddlePan">
    <div id="middlePan">
      <div id="middleleftPan">
        <h2>Qui sommes nous</h2>
        <p><span class="boldtext">Job Search est un site permettant de trouver un job ou d'employer quelqu'un facilement selon vos criteres. </p>
        <p>Nous proposons un large choix qui dependra a la fois de vos competences ainsi que du lieux desire.</p>
        <p>Tout ce qu'il vous reste à faire est de vous connecter ou vous inscire pour profiter de ce service entierement gratuit.</p>

      </div>
      <div id="middlerightPan">
        <form id="form1" name="form1" method="post" action="#">
          <h2>Connexion</h2>
          <label>Addresse e-mail:</label>
          <input name="Your name" type="text" id="Yourname" />
          <label>Mot de passe:</label>
          <input name="password" type="password" id="Emailid" />
          <div id="register"><a href="#">S'enregistrer</a></div>
          <input name="login" type="submit" class="button" value="Login" />
        </form>

      </div>
    </div>
  </div>
  <div id="bottomPan">
    <div id="bottommiddlePan">
      <div id="bottomleftPan">
        <h2>Dernieres annonces</h2>
        <h3>23 septembre 2017</h3>
        <p>Nous sommes  a la recherche de personnes pouvant tester de nombreuses applications mobiles pour le compte de plusieurs de nos clients.

  Nous recherchons donc des testeur sur Iphone et Android, afin de contribuer a d eventuelles d ameliorations.

  Nous avons besoin de personnes ayant la possibilite de travailler depuis leur domicile mais aussi dans nos locaux.

  Nous remunerons 138 à pour 8h de test dans nos locaux, renouvelable + possibilite de gagner des cadeaux.

  Ambiance Start-up, conviviale.

  Merci de nous adresser un mail de candidature si vous pensez que ce job est fait pour vous.

  Type d'emploi : CDD

  Remuneration : 30,000e / AN
  Nous contacter par email.</p>
        <h4>image</h4>
        <p class="more"><a href="#">lien</a></p>
      </div>
      <div id="bottomrightPan">
        <h2>23 octobre 2017</h2>
        <p>Bonjour,

  Nous sommes a la recherche d'un ebeniste/menuisier pour la realisation de meuble pour nos clients.

  Nous avons plusieurs missions par an dont une immediate pour la realisation de 10 meubles (identiques) en MDF (cfr plan en photo). Nous avons bien entendu des plans detailles + photos

  Pouvez-vous m'envoyer d'urgence un mail si interesse ?

  olivier@nicecom.be</p>
        <h3>Simple et gratuit <br />
          <span></span></h3>
        <p class="more"><a href="#">lien vers l'annonceur</a></p>
      </div>
    </div>
  </div>
  <div id="footermainPan">
    <div id="footerPan">
      <ul>
        <li><a href="#">Home</a>|</li>

      </ul>
      <p class="copyright">Jobsearch 2017 all right reaserved</p>
      <a href="#"><img src="https://scontent-amt2-1.xx.fbcdn.net/v/t34.0-12/18217728_120332000456574610_1583941798_n.png?oh=86942c3cb3e13bf973e49f1b56ec16b1&oe=590A46AA" title="logo" alt="logo" width="248" height="248" border="0" /></a>

    </div>
  </div>
  </body>
  </html>
