
<html>
<% include ./partials/head %>

  <body>
  <% include ./partials/nav %>
    <div class="container" align="center">
      <form action="/job/add/" class="form-horizontal" role="form" method="post">
        <div class="row-xs-10">
          <div class="col-md-10 ">
            <div class="panel panel-default" >
              <div class="panel-heading">  <h4 >Your job offer</h4></div>
              <div class="panel-body" >
                <div class="box box-info">
                  <div class="box-body">
                    <div class="col-sm-12">
                      <div  align="center">
                        <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive" align="center">
                        <input id="profile_image_upload2" name="profile_image_upload2" class="hidden" type="file">
                        <div style="color:#999;" >click here to change company image</div>
                      </div>
                      <br>
                    </div>
                    <div class="clearfix"></div>
                    <hr style="margin:1px 0 1px 0;">

                    <div class="col-sm-6 col-xs-6 "  align="center">
                      <div class="required-field-block" >
                        <label>Company Name :</label>
                        <div class="input-group">
                          <input type="text" class="form-control" name="companyname" id="companyname" placeholder="First name" required>
                          <span class="input-group-addon succes"><span class="glyphicon glyphicon-remove"></span></span>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-6 col-xs-6 "  align="center">
                      <div class="required-field-block">
                        <label>Email :</label>
                        <div class="input-group">
                          <input type="text" class="form-control" name="emailComp" id="emailComp" placeholder="Email" required>
                          <span class="input-group-addon succes"><span class="glyphicon glyphicon-remove"></span></span>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-xs-6 "  align="center">
                      <label>Professional phone :</label>
                      <div class="input-group">
                        <input type="text" placeholder="Phone" class="form-control" name="phoneComp" id="phoneComp">
                        <span class="input-group-addon succes"><span class="glyphicon glyphicon-remove"></span></span>
                      </div>
                    </div>
                    <div class="col-sm-6 col-xs-4 "  align="center">
                      <div class="required-field-block" >
                        <label>Experience required :</label>
                        <div class="form-group">
                          <select id="experienceComp" name="experienceComp" class="form-control">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">+</option>
                          </select>  </div>
                      </div>
                    </div>



                    <!-- /.box-body -->
                  </div>
                  <!-- /.box -->
                </div>
              </div>
            </div>
            <div class="panel-heading"> <div class="col-sm-12 col-xs-6 "  align="center">
              <div class="required-field-block" >
                <label>Domain required :</label>
                <div class="form-group">
                  <select id="sectorComp" name="sectorComp" class="form-control">
                    <option value="Administration">Administration</option>
                    <option value="Agriculture">Agriculture</option>
                    <option value="Artisanat">Artisanat</option>
                    <option value="Gestion">Gestion</option>
                    <option value="Economie">Economie, banque</option>
                    <option value="Enseignement">Enseignement</option>
                    <option value="IT">IT, R&D</option>
                    <option value="Vente">Vente</option>
                    <option value="Securite">Securite</option>
                    <option value="Sante">Sante, medecine</option>
                    <option value="Social">Social</option>
                    <option value="Conception">Conception & architecture</option>
                    <option value="Direction">Direction general</option>
                    <option value="Marketing">Marketing et publicite</option>
                    <option value="Media">Media & information</option>
                    <option value="Droit">Droit</option>
                    <option value="Horeca">Horeca</option>
                    <option value="Tourisme">Tourisme</option>
                    <option value="Construction">Construction</option>
                  </select>  </div>
              </div>
            </div></div>
            <div class="panel panel-default" >
              <div class="panel-body">
                <div class="col-sm-6 col-xs-6 "  align="center">
                  <div class="required-field-block">
                    <label>Langage required :</label>
                    <div class="input-group">
                      <input type="text" class="form-control" name="sTongueComp" id="sTongueComp" placeholder="Mother tongue" required>
                      <span class="input-group-addon succes"><span class="glyphicon glyphicon-remove"></span></span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-xs-6 "  align="center">
                  <div class="required-field-block" >
                    <label>Localisation :</label>
                    <div class="form-group">
                        <select id="localisationComp" name="localisationComp" class="form-control">
                          <option value="Anvers">Anvers</option>
                          <option value="Limbourg">Limbourg</option>
                          <option value="Flandre orientale">Flandre orientale</option>
                          <option value="Brabant flamand">Brabant flamand</option>
                          <option value="Flandre occidentale">Flandre occidentale</option>
                          <option value="Brabant wallon">Brabant wallon</option>
                          <option value="Hainaux">Hainaux</option>
                          <option value="Liège">Liège</option>
                          <option value="Luxembourg">Luxembourg</option>
                          <option value="Namur">Namur</option>
                          <option value="Bruxelle">Bruxelle capitale</option>
                        </select>
                  </div>
                  </div>
                </div>
                <div class="col-sm-6 col-xs-6 "  align="center">
                  <div class="required-field-block">
                    <label>Salary proposed :</label>
                    <div class="input-group">
                      <input type="text" class="form-control" name="salary" id="salary" placeholder="Salary" required>
                      <span class="input-group-addon succes"><span class="glyphicon glyphicon-remove"></span></span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-xs-6 "  align="center">
                  <div class="required-field-block" >
                    <label>Duration and schedule :</label>
                    <div class="input-group">
                      <input type="text" class="form-control" name="temp" id="temp" placeholder="Schedule" required>
                      <span class="input-group-addon succes"><span class="glyphicon glyphicon-remove"></span></span>
                    </div>
                  </div>
                </div>

                <div class="col-sm-12 col-xs-6 "  align="center">
                  <div class="required-field-block">
                    <label>Graduations required :</label>
                    <div class="input-group">
                      <textarea rows="4" class="form-control" placeholder="Message" name="grad" id="grad"></textarea>
                      <span class="input-group-addon succes">
                        <span class="glyphicon glyphicon-remove">
                        </span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-xs-6 "  align="center">
                  <div class="required-field-block">
                    <label>Description and expectations :</label>
                    <div class="input-group">
                      <textarea rows="4" class="form-control" placeholder="Message"name="descrComp" id="descrComp"></textarea>
                      <span class="input-group-addon succes">
                        <span class="glyphicon glyphicon-remove">
                        </span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>

            </div>
            <button type="submit" class="btn-lg">Submit</button>
            <div class="clearfix"></div>
            <div class="bot-border"></div>
          </div>
          <script>
          $(function() {
            $('#profile-image1').on('click', function() {
              $('#profile-image-upload').click();
            });
          });
          </script>
        </div>
      </form>
    </div>
  </body>
  </html>
