


<html>
<head>
  <title>JobSearch</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <link href="styleAdd.css" rel="stylesheet" type="text/css" />
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">

  <style type="text/css">
  input.hidden {
    position: absolute;
    left: -9999px;
  }

  #profile-image1 {
    cursor: pointer;
    width: 100px;
    height: 100px;
    border:2px solid #FBA01B ;}
    .tital{ font-size:16px; font-weight:600;}
    .bot-border{ border-bottom:1px #f8f8f8 solid;  margin:10px 0  10px 0}
    </style>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="container" align="center">
      <form action="/cv/add/" class="form-horizontal" role="form" method="post">
        <div class="row-xs-10">
          <div class="col-md-10 ">
            <div class="panel panel-default" >
              <div class="panel-heading">  <h4 >Curiculum vita</h4></div>
              <div class="panel-body" >
                <div class="box box-info">
                  <div class="box-body">
                    <div class="col-sm-12">
                      <div  align="center">
                        <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive" align="center">
                        <input id="profile_image_upload" class="hidden" type="file" name="profile_image_upload">
                        <div style="color:#999;" >click here to change profile image</div>
                      </div>
                      <br>
                    </div>
                    <div class="clearfix"></div>
                    <hr style="margin:10px 0 10px 0;">

                    <div class="col-sm-6 col-xs-6 "  align="center">
                      <div class="required-field-block" >
                        <label>First Name :</label>
                        <div class="input-group">
                          <input type="text" class="form-control" id="firstnameCV" name="firstnameCV"  placeholder="First name" required>
                          <span class="input-group-addon succes"><span class="glyphicon glyphicon-remove"></span></span>
                        </div>
                      </div>
                    </div>


                    <div class="col-sm-6 col-xs-6 "  align="center">
                      <div class="required-field-block" >
                        <label>Last Name :</label>
                        <div class="input-group">
                          <input type="text" class="form-control" name="lasttnameCV" id="lasttnameCV" placeholder="Last name" required>
                          <span class="input-group-addon succes"><span class="glyphicon glyphicon-remove"></span></span>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="bot-border"></div>

                    <div class="col-sm-6 col-xs-6 "  align="center">
                      <div class="required-field-block">
                        <label>Email :</label>
                        <div class="input-group">
                          <input type="email" class="form-control" name="emailCV" id="emailCV" placeholder="Email" required>
                          <span class="input-group-addon succes"><span class="glyphicon glyphicon-remove"></span></span>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-xs-6 "  align="center">
                      <label>Professional phone :</label>
                      <div class="input-group">
                        <input type="text" placeholder="Phone" name="phoneCV" id="phoneCV" class="form-control">
                        <span class="input-group-addon succes"><span class="glyphicon glyphicon-remove"></span></span>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="bot-border"></div>
                    <!-- /.box-body -->
                  </div>
                  <!-- /.box -->
                </div>
              </div>
            </div>
            <div class="panel panel-default" >
              <div class="panel-body">
                <div class="col-sm-12 col-xs-6 "  align="center">
                  <div class="form-group">
                    <label for="sel1">Higher qualifications :</label>
                    <select class="form-control" id="qualifCV" name="qualifCV">
                      <option>Secondary</option>
                      <option>High school</option>
                      <option>Universtity</option>
                    </select>
                  </div>
                </div>

                <div class="col-sm-12 col-xs-6 "  align="center">
                  <div class="required-field-block">
                    <label>Your graduations :</label>
                    <div class="input-group">
                      <textarea rows="4" class="form-control" id="qualifCV" name="graduationCV" placeholder="Message"></textarea>
                      <span class="input-group-addon succes">
                        <span class="glyphicon glyphicon-remove">
                        </span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="bot-border"></div>
                <div class="col-sm-6 col-xs-6 "  align="center">
                  <div class="required-field-block" >
                    <label>Your experience :</label>
                    <div class="form-group">
                      <select id="expeComp" name="expeComp" class="form-control">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">+</option>
                      </select>  </div>
                  </div>
                </div>

                <div class="col-sm-6 col-xs-6 "  align="center">
                  <div class="required-field-block" >
                    <label>Localisation :</label>
                    <div class="form-group">
                        <select id="localisationCV" name="localisationCV" class="form-control">
                          <option value="Anvers">Anvers</option>
                          <option value="Limbourg">Limbourg</option>
                          <option value="Flandre orientale">Flandre orientale</option>
                          <option value="Brabant flamand">Brabant flamand</option>
                          <option value="Flandre occidentale">Flandre occidentale</option>
                          <option value="Brabant wallon">Brabant wallon</option>
                          <option value="Hainaux">Hainaux</option>
                          <option value="Liège">Liège</option>
                          <option value="Luxembourg">Luxembourg</option>
                          <option value="Namur">Namur</option>
                          <option value="Bruxelle">Bruxelle capitale</option>
                        </select>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="bot-border"></div>

                <div class="col-sm-6 col-xs-6 "  align="center">
                  <div class="required-field-block">
                    <label>Mother tongue :</label>
                    <div class="input-group">
                      <input type="text" class="form-control" name="motherTongueCV" id="motherTongueCV" placeholder="Mother tongue" required>
                      <span class="input-group-addon succes"><span class="glyphicon glyphicon-remove"></span></span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-xs-6 "  align="center">
                  <label>Secondary tongue :</label>
                  <div class="input-group">
                    <input type="text" placeholder="Secondary tongue" name="sTongueCV" id="sTongueCV" class="form-control">
                    <span class="input-group-addon succes"><span class="glyphicon glyphicon-remove"></span></span>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="bot-border"></div>
              </div>

            </div>
            <div class="panel panel-default" >
              <div class="panel-body">
                <div class="col-sm-12 col-xs-6 "  align="center">
                  <div class="required-field-block" >
                    <label>Domain required :</label>
                    <div class="form-group">
                      <select id="sectorCV2" name="sectorCV2" class="form-control">
                        <option value="Administration">Administration</option>
                        <option value="Agriculture">Agriculture</option>
                        <option value="Artisanat">Artisanat</option>
                        <option value="Gestion">Gestion</option>
                        <option value="Economie">Economie, banque</option>
                        <option value="Enseignement">Enseignement</option>
                        <option value="IT">IT, R&D</option>
                        <option value="Vente">Vente</option>
                        <option value="Securite">Securite</option>
                        <option value="Sante">Sante, medecine</option>
                        <option value="Social">Social</option>
                        <option value="Conception">Conception & architecture</option>
                        <option value="Direction">Direction general</option>
                        <option value="Marketing">Marketing et publicite</option>
                        <option value="Media">Media & information</option>
                        <option value="Droit">Droit</option>
                        <option value="Horeca">Horeca</option>
                        <option value="Tourisme">Tourisme</option>
                        <option value="Construction">Construction</option>
                      </select>  </div>
                  </div>
                </div>
                <div class="col-sm-12 col-xs-6 "  align="center">
                  <div class="required-field-block">
                    <label>Small descritpion :</label>
                    <div class="input-group">
                      <textarea rows="3" class="form-control" placeholder="Message" id="desciCV" name="desciCV"></textarea>
                      <span class="input-group-addon succes">
                        <span class="glyphicon glyphicon-remove">
                        </span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-12 col-xs-6 "  align="center">
                  <div class="required-field-block">
                    <label>Your motivations & quality :</label>
                    <div class="input-group">
                      <textarea rows="3" class="form-control" placeholder="Message" id="motivCV" name="motivCV"></textarea>
                      <span class="input-group-addon succes">
                        <span class="glyphicon glyphicon-remove">
                        </span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-12 col-xs-6 "  align="center">
                  <div class="required-field-block">
                    <label>Your attempts :</label>
                    <div class="input-group">
                      <textarea rows="3" class="form-control" placeholder="Message" id="attemptsCV" name="attemptsCV"></textarea>
                      <span class="input-group-addon succes">
                        <span class="glyphicon glyphicon-remove">
                        </span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="bot-border"></div>
              </div>

            </div>
            <button type="submit" class="btn-lg">Submit</button>
            <div class="clearfix"></div>
            <div class="bot-border"></div>
          </div>
          <script>
          $(function() {
            $('#profile-image1').on('click', function() {
              $('#profile-image-upload').click();
            });
          });
          </script>
        </div>
      </form> <!-- /form -->
    </div>
  </body>
  </html>
