
<html>
<head>
  <title>JobSearch</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <link href="styleAdd.css" rel="stylesheet" type="text/css" />
  <link href="navigationJob.css" rel="stylesheet" type="text/css" />
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .search {
      margin-top: 0px;

    }
    .search .form-section{
      background:rgba(0,0,0,0.6);
      position:relative;
      border: 2px solid #414141;
      border-radius: 5px;
      padding: 10px;
    }
    .serchtile{
      color:#fff;
    }
  </style>
  <style type="text/css">
    input.hidden {
      position: absolute;
      left: -9999px;
    }

    #profile-image1 {
      cursor: pointer;
      width: 100px;
      height: 100px;
      border:2px solid #FBA01B ;}
      .tital{ font-size:16px; font-weight:600;}
      .bot-border{ border-bottom:1px #f8f8f8 solid;  margin:10px 0  10px 0}
    </style>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div id="topPan">
      <div id="banner">
        <div id="banner_contents">
          <ul>
            <li><a href="/">Logout</a></li>
            <li class="dropdown">
              <a  class="dropbtn">Listes</a>
              <div class="dropdown-content">
                <a href="/navigationCV">CVs</a>
                <a href="/navigationJob">Offres</a>
              </div>
            </li>
            <li><a href="/cv">Add CV</a></li>
            <li><a href="/job">Add Jobs</a></li>
          </ul>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="search">
        <div class="row">
          <div class="col-md-10 col-md-offset">
            <div class="form-section">
              <div class="row">
                <form action="/navigationCV/search/" class="form-horizontal" role="form" method="post">
                  <div class="col-md-4">
                    <div class="form-group">
                      <div class="serchtile">I'm Looking</div>
                      <label class="sr-only" for="looking">I'm looking</label>
                      <select id="sectorCV" name="sectorCV" class="form-control">
                        <option value="Administration">Administration</option>
                        <option value="Agriculture">Agriculture</option>
                        <option value="Artisanat">Artisanat</option>
                        <option value="Gestion">Gestion</option>
                        <option value="Economie">Economie, banque</option>
                        <option value="Enseignement">Enseignement</option>
                        <option value="IT">IT, R&D</option>
                        <option value="Vente">Vente</option>
                        <option value="Securite">Securite</option>
                        <option value="Sante">Sante, medecine</option>
                        <option value="Social">Social</option>
                        <option value="Conception">Conception & architecture</option>
                        <option value="Direction">Direction general</option>
                        <option value="Marketing">Marketing et publicite</option>
                        <option value="Media">Media & information</option>
                        <option value="Droit">Droit</option>
                        <option value="Horeca">Horeca</option>
                        <option value="Tourisme">Tourisme</option>
                        <option value="Construction">Construction</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <div class="serchtile">Minimum of experience</div>
                      <label class="sr-only" for="expe">Minimum of experience</label>
                      <div class="input-group">
                        <select id="experienceCV" name="experienceCV" class="form-control">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                          <option value="7">7</option>
                          <option value="8">8</option>
                          <option value="9">9</option>
                          <option value="10">10</option>
                          <option value="11">11</option>
                          <option value="12">12</option>
                          <option value="13">13</option>
                          <option value="14">14</option>
                          <option value="15">15</option>
                          <option value="16">+</option>
                        </select>  </div>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <div class="serchtile">Localisation</div>
                        <label class="sr-only" for="toage">Localisation</label>
                        <div class="input-group">
                          <select id="localisationCV" name="localisationCV" class="form-control">
                            <option value="Anvers">Anvers</option>
                            <option value="Limbourg">Limbourg</option>
                            <option value="Flandre orientale">Flandre orientale</option>
                            <option value="Brabant flamand">Brabant flamand</option>
                            <option value="Flandre occidentale">Flandre occidentale</option>
                            <option value="Brabant wallon">Brabant wallon</option>
                            <option value="Hainaux">Hainaux</option>
                            <option value="Liège">Liège</option>
                            <option value="Luxembourg">Luxembourg</option>
                            <option value="Namur">Namur</option>
                            <option value="Bruxelle">Bruxelle capitale</option>
                          </select>  </div>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <br>
                        <button type="search" class="btn btn-default btn-primary">Search</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ul>
            <% cvlist.forEach(function(cv) { %>
            <div class="col-md-10 blogShort">
              <h1> <%= cv.expeCV %> </h1>
              <article><p>cv.desciCV</article></p>
              <a class="btn btn-blog pull-right marginBottom10" href="/cv/show/<%cv._id%>">READ MORE</a>
            </div>
            <% });%>
          </ul>
        </body>
        </html>
